{% extends 'accounts/panel/base.html' %}
{% load static %}

{% block content %}
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Changed Password</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">

                    <div class="input-group-append">
                    </div>
                  </div>
                </div>
              </div>
            <div class="card p-3">
            <div class="card-body m-4">
 <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error">{{ form.password.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
            </div>
            </div>

            </div>
          </div>




{% endblock %}


